services:
  postgres:
    image: postgres:16-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./scripts/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 5

  localstack:
    image: localstack/localstack:latest
    ports:
      - '4566:4566'
    environment:
      - SERVICES=lambda,apigateway,iam,logs,s3,cloudformation,sns,sqs,ssm
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
      - LAMBDA_DOCKER_NETWORK=nex-shop_default
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - ./scripts/init-localstack.sh:/etc/localstack/init/ready.d/init-localstack.sh

  localstripe:
    image: adrienverge/localstripe:latest
    ports:
      - '8420:8420'

  localstripe-init:
    image: curlimages/curl:latest
    depends_on:
      - localstripe
    restart: 'no'
    entrypoint:
      [
        'sh',
        '-c',
        'sleep 3 && curl -s -X POST http://localstripe:8420/_config/webhooks/payment_webhook -d url=http://host.docker.internal:4006/payments/webhook -d secret=whsec_test_secret',
      ]

volumes:
  pgdata:
